DATABASE_URL="postgresql://user:password@ep-xxx-pooler.region.aws.neon.tech/dbname?sslmode=require"
DIRECT_URL="postgresql://user:password@ep-xxx.region.aws.neon.tech/dbname?sslmode=require"

AUTH_SECRET="3k3Qh55HapiYXRvSU79HkYsQZ66YU0wwyY6QBo1uzgE="
NEXTAUTH_URL="http://localhost:3000"

NEXT_PUBLIC_APP_NAME="Your Store"
NEXT_PUBLIC_SERVER_URL="http://localhost:3000"
